* {
    box-sizing: border-box;
}
body {
    width: 1440px;
    overflow: auto;
    background-color: rgb(240, 230, 230);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 100vw;
    gap: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.side-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    width: 350px;
    background-color: #09689b;
    gap: 24px;
    height: 100vh;
    align-content: flex-start;
    color: rgb(237, 243, 248);

}
#brand-logo{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 8px;
    padding: 16px 32px;
    align-items: center;
    justify-content: flex-start;
}
#brand-logo img {
    width: 48px;
    height: 32px;
}
#nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 16px;
    justify-content: flex-start;
    padding: 16px 32px;

}
.button {
background-color: #09689b;
    color: rgb(237, 243, 248); 
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    border: 0;
    font-size: 16px;
}
.material-symbols-outlined {
    width: 24px;
    height: 24px;
}
#support-buttons
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 16px;
    justify-content: flex-start;
    padding: 16px 32px;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    margin: 0;
    position: relative;
    align-content: flex-start;
    height: 100vh;
}
#nav-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    padding: 32px;
    gap: 24px;
    box-shadow: inset;
}
#search-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
#search-box{
    height: 24px;
    width: 500px;
    background-color: rgb(240, 230, 230);
    border-radius: 24px;
    box-shadow: none;
}
#profile img {
width: 32px;
height: 32px;
}
#profile {
  display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;  
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px;
}