* {
    box-sizing: border-box;
}
body {
    width: 1440px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.Container {
    width: 100vw;
    flex-wrap: wrap;
    gap: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.side-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    width: 250px;
    background-color: #09689b;
    gap: 24px;
    height: 100vw;
    align-content: flex-start;
    color: rgb(237, 243, 248);

}
#brand-logo{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 8px;
    padding: 16px;
    align-items: center;
    justify-content: flex-start;
}
#brand-logo img {
    width: 48px;
    height: 32px;
}
#nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 16px;
    justify-content: flex-start;

}
.button {
background-color: #09689b;
    color: rgb(237, 243, 248); 
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    border: 0;
    font-size: 16px;
}
.material-symbols-outlined {
    width: 24px;
    height: 24px;
}
#support-buttons
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 16px;
    justify-content: flex-start;
}
